<ul class="post-list">
  {{#each posts}}
  <li>
    <article class="post">
        <div class="title">
            <h2>{{title}}</h2>
        </div>
        <div class="date">
            <h4>{{date_created}}</h4>
        </div>
    </article>
  </li>
  {{/each}}
</ul>